{
  "openapi": "3.1.0",
  "info": {
    "title": "Mapilio API",
    "version": "1.0.0-draft",
    "summary": "Versioned contracts implemented by the modern Mapilio backend.",
    "description": "This document grows endpoint by endpoint as modern contracts are implemented and tested. It is separate from the legacy compatibility inventory.",
    "license": {
      "name": "License not yet selected",
      "url": "https://github.com/mapilio/backend/blob/main/docs/governance/public-release-decisions.md"
    }
  },
  "servers": [
    {
      "url": "https://end.mapilio.com",
      "description": "Production API; modern route activation remains subject to release gates."
    }
  ],
  "tags": [
    {
      "name": "Geospatial features",
      "description": "Versioned reads for canonical detections and geospatial publication data."
    },
    {
      "name": "Imagery reads",
      "description": "Legacy-compatible, read-only sequence and embed result contracts."
    },
    {
      "name": "Public content",
      "description": "Public content and server-side subscription operations."
    },
    {
      "name": "Identity",
      "description": "First-party authentication contracts for Mapilio clients."
    }
  ],
  "paths": {
    "/api/v1/mobile/accounts": {
      "post": {
        "operationId": "registerMobileAccount",
        "tags": ["Identity"],
        "summary": "Register a password-based mobile account",
        "description": "Creates an inactive account and sends a time-limited signed activation link. Callback hosts and schemes are server allowlisted.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileRegistrationRequest"},
              "example": {
                "name": "Example Mapper",
                "username": "example-mapper",
                "email": "mapper@example.test",
                "password": "synthetic-password-for-example",
                "callback": "https://mapilio.com/app",
                "success-params": "tverification=true",
                "error-params": "tverification=false"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration accepted; activation is pending.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileAccountAccepted"},
                "example": {"success": true, "message": ["Check your email to activate your account."]}
              }
            }
          },
          "400": {"description": "The identity, callback, or request fields were rejected."},
          "429": {"description": "The registration rate limit was exceeded."},
          "503": {"description": "Account creation or activation email delivery is unavailable."}
        }
      }
    },
    "/api/v1/mobile/password/forgot": {
      "post": {
        "operationId": "requestMobilePasswordReset",
        "tags": ["Identity"],
        "summary": "Request a mobile password reset",
        "description": "Returns the same success response for known and unknown addresses. A known active account receives a time-limited signed reset link.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobilePasswordForgotRequest"},
              "example": {
                "email": "mapper@example.test",
                "callback": "https://mapilio.com/reset-password",
                "success-params": "tverification=true",
                "error-params": "tverification=false"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was accepted without confirming account existence.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileBooleanSuccess"},
                "example": {"success": true}
              }
            }
          },
          "400": {"description": "The request fields or callback were rejected."},
          "429": {"description": "The per-address or per-IP reset rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/password/reset": {
      "post": {
        "operationId": "resetMobilePassword",
        "tags": ["Identity"],
        "summary": "Complete a mobile password reset",
        "description": "Consumes the short-lived opaque code produced after the signed email link is opened. A code can be used only once.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobilePasswordResetRequest"},
              "example": {
                "code": "synthetic-opaque-reset-code",
                "password": "new-synthetic-password",
                "re-password": "new-synthetic-password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed and reset code consumed.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileBooleanSuccess"},
                "example": {"success": true}
              }
            }
          },
          "400": {"description": "The reset code is invalid, expired, consumed, or the passwords do not match."},
          "429": {"description": "The password renewal rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/profile": {
      "get": {
        "operationId": "getMobileProfile",
        "tags": ["Identity"],
        "summary": "Get the authenticated mobile profile",
        "description": "Returns the authenticated mobile profile in the legacy-compatible data wrapper. The data value is null when the profile record is unavailable; otherwise it is an array containing the profile.",
        "security": [{"mobileBearer": []}],
        "responses": {
          "200": {
            "description": "The authenticated profile, or a null data value when no profile record is available.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileProfileResponse"},
                "examples": {
                  "profile": {
                    "summary": "Profile available",
                    "value": {
                      "data": [{
                        "id": 10,
                        "username": "example-mapper",
                        "email": "mapper@example.test",
                        "user_profile_photo": "https://mapilio.test/default-avatar.png",
                        "display_name": "Example Mapper",
                        "str_id": "synthetic-user-key",
                        "hidden_profile": 0,
                        "user_bio": "Mapping fresh roads.",
                        "created_at": "2026-01-01 00:00:00",
                        "updated_at": "2026-01-02 00:00:00",
                        "shape_limit": 100,
                        "isAdmin": false,
                        "sequences": 2,
                        "photos": 3,
                        "meters": "4.000",
                        "score": "16"
                      }]
                    }
                  },
                  "profileUnavailable": {
                    "summary": "Profile unavailable",
                    "value": {"data": null}
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid mobile bearer token is required.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ApiError"},
                "example": {"message": "Unauthenticated."}
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateMobileProfile",
        "tags": ["Identity"],
        "summary": "Update the authenticated mobile profile",
        "description": "Updates bounded profile fields and optionally stores a validated profile image on the configured persistent disk.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/MobileProfileUpdateRequest"},
              "example": {
                "user_bio": "Mapping fresh roads.",
                "display_name": "Example Mapper",
                "username": "example-mapper",
                "hidden_profile": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated public profile fields.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileProfileUpdateResponse"},
                "example": {
                  "status": true,
                  "response": {
                    "id": 10,
                    "username": "example-mapper",
                    "email": "mapper@example.test",
                    "display_name": "Example Mapper",
                    "user_profile_photo": "https://cdn.example.test/profile-photos/10/synthetic.jpg",
                    "user_bio": "Mapping fresh roads.",
                    "hidden_profile": false,
                    "updated_at": "2026-08-19T10:00:00Z"
                  }
                }
              }
            }
          },
          "400": {"description": "Profile fields, username, or image were rejected."},
          "401": {"description": "A valid mobile bearer token is required."},
          "429": {"description": "The authenticated account-write rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/profile/email": {
      "post": {
        "operationId": "requestMobileEmailChange",
        "tags": ["Identity"],
        "summary": "Replace a provider-generated placeholder email",
        "description": "Sends a signed confirmation to the new unique address. The stored address changes only after confirmation and this flow is unavailable to ordinary password accounts.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileEmailUpdateRequest"},
              "example": {"email": "mapper@example.test"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email confirmation was sent.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileActionResponse"},
                "example": {"status": true, "response": true}
              }
            }
          },
          "400": {"description": "The email is invalid or already used."},
          "401": {"description": "A valid mobile bearer token is required."},
          "409": {"description": "The current account is not eligible for placeholder-email replacement."},
          "429": {"description": "The authenticated account-write rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/account": {
      "delete": {
        "operationId": "deleteMobileAccount",
        "tags": ["Identity"],
        "summary": "Delete and anonymize the authenticated mobile account",
        "description": "Preserves contribution ownership while removing personal profile fields and disabling the identity so all current access and refresh tokens stop working. Apple authorization is revoked before deletion; provider failure leaves the account unchanged.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileAccountDeleteRequest"},
              "example": {"delete": true, "login_type": "default"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The identity was anonymized and disabled.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileDeleteResponse"},
                "example": {"status": true, "response": {"success": true}}
              }
            }
          },
          "400": {"description": "Deletion confirmation or login type was rejected."},
          "401": {"description": "A valid mobile bearer token is required."},
          "409": {"description": "The account is already unavailable."},
          "429": {"description": "The account-deletion rate limit was exceeded."},
          "503": {"description": "Apple authorization could not be revoked; no account data was changed."}
        }
      }
    },
    "/api/v1/mobile/auth/social-token": {
      "post": {
        "operationId": "mobileSocialToken",
        "tags": [
          "Identity"
        ],
        "summary": "Exchange a provider token for Mapilio mobile tokens",
        "description": "The backend validates the provider token through the configured legacy migration bridge. Legacy client credentials are server-side configuration and are never accepted from the mobile request; only modern Mapilio access and refresh tokens are returned.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileSocialTokenRequest"
              },
              "example": {
                "provider": "google",
                "token": "provider-token-from-the-mobile-sdk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modern Mapilio token pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebTokenResponse"
                },
                "example": {
                  "id": 10,
                  "success": true,
                  "token_type": "Bearer",
                  "expires_in": 3600,
                  "access_token": "opaque-modern-access-token",
                  "refresh_token": "opaque-modern-refresh-token"
                }
              }
            }
          },
          "401": {
            "description": "Provider token is invalid or the mapped legacy account is inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Invalid social login credentials."
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "The given data was invalid.",
                  "errors": {
                    "provider": [
                      "The selected provider is invalid."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Social authentication rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Too many authentication attempts. Please try again later."
                }
              }
            }
          },
          "503": {
            "description": "Migration bridge is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Social login is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/imagery/sequence-detail": {
      "get": {
        "operationId": "getSequenceDetail",
        "tags": ["Imagery reads"],
        "summary": "Read sequence imagery metadata",
        "description": "Preserves the legacy sequence-detail wrapper and capture-time ordering when neither page nor per_page is supplied. Supplying either parameter opts into the bounded pagination contract; page defaults to 1 and per_page defaults to 500, with per_page capped at 1000.",
        "security": [],
        "parameters": [
          {
            "name": "sequence_uuid",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "example": "sequence-synthetic"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {"type": "integer", "minimum": 1, "default": 1},
            "description": "Optional strict positive canonical integer. Supplying page activates pagination; defaults to 1 when omitted.",
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {"type": "integer", "minimum": 1, "maximum": 1000, "default": 500},
            "description": "Optional strict positive canonical integer, maximum 1000. Supplying per_page activates pagination; defaults to 500 when omitted.",
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Legacy full-read response when pagination is not requested, or bounded paginated response when page or per_page is supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/SequenceDetailDefaultResponse"},
                    {"$ref": "#/components/schemas/SequenceDetailPaginatedResponse"}
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Exact legacy wrapper",
                    "value": {"data": [{"id": 1, "heading": 90, "filename": "synthetic.jpg", "uploaded_hash": "opaque-example-token", "fov": "120.2", "vfov": "88.7", "pitch": "78.9", "capture_time": "2026-07-15 10:00:00", "created_by_id": 10, "resolution": "1920x1080"}]}
                  },
                  "paginated": {
                    "summary": "Opt-in bounded page",
                    "value": {"data": [{"id": 1, "heading": 90, "filename": "synthetic.jpg", "uploaded_hash": "opaque-example-token", "fov": "120.2", "vfov": "88.7", "pitch": "78.9", "capture_time": "2026-07-15 10:00:00", "created_by_id": 10, "resolution": "1920x1080"}], "pagination": {"current_page": 1, "per_page": 1, "has_more": true}}
                  }
                }
              }
            }
          },
          "400": {"description": "The required sequence_uuid parameter is missing."},
          "413": {
            "description": "The legacy/default-v1 full read exceeded the configured row or encoded-item bound.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicReadTooLargeError"}, "example": {"success": false, "message": ["Payload Too Large"], "error_code": 413}}}
          },
          "422": {
            "description": "An explicitly supplied pagination parameter was not a canonical positive integer or exceeded the per_page maximum.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicReadPaginationError"}, "example": {"success": false, "message": ["'page' and 'per_page' must be positive integers within the supported range."], "error_code": 422}}}
          }
        }
      }
    },
    "/api/v1/imagery/embed/{sequenceUuid}": {
      "get": {
        "operationId": "getEmbeddedSequenceImages",
        "tags": ["Imagery reads"],
        "summary": "Read embedded sequence imagery",
        "description": "Preserves the legacy embed wrapper and id ordering when neither page nor per_page is supplied. Supplying either parameter opts into bounded pagination; info remains present on every paginated response and entries contains only the requested page.",
        "security": [],
        "parameters": [
          {"name": "sequenceUuid", "in": "path", "required": true, "schema": {"type": "string"}, "example": "sequence-synthetic"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Optional strict positive canonical integer. Supplying page activates pagination; defaults to 1 when omitted.", "example": 1},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 1000, "default": 500}, "description": "Optional strict positive canonical integer, maximum 1000. Supplying per_page activates pagination; defaults to 500 when omitted.", "example": 2}
        ],
        "responses": {
          "200": {
            "description": "Legacy full-read response when pagination is not requested, or bounded paginated response when page or per_page is supplied.",
            "content": {
              "application/json": {
                "schema": {"oneOf": [{"$ref": "#/components/schemas/EmbedDefaultResponse"}, {"$ref": "#/components/schemas/EmbedPaginatedResponse"}]},
                "examples": {
                  "default": {"summary": "Exact legacy wrapper", "value": {"data": {"info": {"sequence_uuid": "sequence-synthetic", "start_address": "Synthetic Road"}, "entries": [{"photo_uuid": "photo-synthetic", "created_by_id": 10, "id": 1, "capture_time": "2026-07-15 10:00:00", "filename": "synthetic.jpg", "latitude": "35.1", "longitude": "-78.1", "uploaded_hash": "opaque-example-token", "sequence_uuid": "sequence-synthetic", "heading": 90, "resolution": "1920x1080", "fov": "120.2", "vfov": "88.7"}]}}},
                  "paginated": {"summary": "Opt-in bounded page", "value": {"data": {"info": {"sequence_uuid": "sequence-synthetic", "start_address": "Synthetic Road"}, "entries": [{"photo_uuid": "photo-synthetic", "created_by_id": 10, "id": 1, "capture_time": "2026-07-15 10:00:00", "filename": "synthetic.jpg", "latitude": "35.1", "longitude": "-78.1", "uploaded_hash": "opaque-example-token", "sequence_uuid": "sequence-synthetic", "heading": 90, "resolution": "1920x1080", "fov": "120.2", "vfov": "88.7"}]}, "pagination": {"current_page": 1, "per_page": 1, "has_more": true}}}
                }
              }
            }
          },
          "404": {
            "description": "The sequence is unknown.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnknownEmbedError"}, "example": {"success": false, "message": ["Not Found"], "error_code": 404}}}
          },
          "413": {
            "description": "The legacy/default-v1 full read exceeded the configured row or encoded-item bound.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicReadTooLargeError"}, "example": {"success": false, "message": ["Payload Too Large"], "error_code": 413}}}
          },
          "422": {
            "description": "An explicitly supplied pagination parameter was not a canonical positive integer or exceeded the per_page maximum.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicReadPaginationError"}, "example": {"success": false, "message": ["'page' and 'per_page' must be positive integers within the supported range."], "error_code": 422}}}
          }
        }
      }
    },
    "/api/v1/geo/uploaded-roads-group": {
      "get": {
        "operationId": "getUploadedRoadsGroup",
        "tags": ["Geospatial features"],
        "summary": "Read uploaded roads for a group",
        "description": "Preserves the legacy road-group wrapper and id ordering when neither page nor per_page is supplied. Supplying either parameter opts into the bounded pagination contract.",
        "security": [],
        "parameters": [
          {"name": "group_key", "in": "query", "required": true, "schema": {"type": "string"}, "example": "group-synthetic"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Optional strict positive canonical integer. Supplying page activates pagination; defaults to 1 when omitted.", "example": 1},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 1000, "default": 500}, "description": "Optional strict positive canonical integer, maximum 1000. Supplying per_page activates pagination; defaults to 500 when omitted.", "example": 2}
        ],
        "responses": {
          "200": {
            "description": "Legacy full-read response when pagination is not requested, or bounded paginated response when page or per_page is supplied.",
            "content": {
              "application/json": {
                "schema": {"oneOf": [{"$ref": "#/components/schemas/UploadedRoadsDefaultResponse"}, {"$ref": "#/components/schemas/UploadedRoadsPaginatedResponse"}]},
                "examples": {
                  "default": {"summary": "Exact legacy wrapper", "value": {"data": [{"sequence_uuid": "sequence-synthetic", "linefeature": "{\"type\":\"LineString\",\"coordinates\":[[1,2],[3,4]]}"}]}},
                  "paginated": {"summary": "Opt-in bounded page", "value": {"data": [{"sequence_uuid": "sequence-synthetic", "linefeature": "{\"type\":\"LineString\",\"coordinates\":[[1,2],[3,4]]}"}], "pagination": {"current_page": 1, "per_page": 1, "has_more": true}}}
                }
              }
            }
          },
          "400": {"description": "The required group_key parameter is missing."},
          "413": {
            "description": "The legacy/default-v1 full read exceeded the configured row or encoded-item bound.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicReadTooLargeError"}, "example": {"success": false, "message": ["Payload Too Large"], "error_code": 413}}}
          },
          "422": {
            "description": "An explicitly supplied pagination parameter was not a canonical positive integer or exceeded the per_page maximum.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicReadPaginationError"}, "example": {"success": false, "message": ["'page' and 'per_page' must be positive integers within the supported range."], "error_code": 422}}}
          }
        }
      }
    },
    "/api/v1/geo/ai-features/{featureId}": {
      "get": {
        "operationId": "getAiFeatureDetail",
        "tags": [
          "Geospatial features"
        ],
        "summary": "Get a canonical AI feature and its matched imagery observations",
        "security": [],
        "parameters": [
          {
            "name": "featureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 900000001
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical feature detail",
            "headers": {
              "ETag": {
                "description": "Validator accepted by If-None-Match.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Public cache and stale-while-revalidate policy.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiFeatureDetailResponse"
                },
                "example": {
                  "data": {
                    "type": "Feature",
                    "id": 900000001,
                    "geometry": {
                      "type": "Point",
                      "coordinates": [29.0255, 40.9911]
                    },
                    "properties": {
                      "class_code": "stop-sign",
                      "confidence": 0.91,
                      "verified": true,
                      "dimensions": {
                        "width": 0.8,
                        "height": 1.6,
                        "area": 1.28
                      },
                      "attributes": {
                        "color": "red"
                      },
                      "sequence_uuid": "sequence-synthetic-1",
                      "project_key": "project-synthetic",
                      "organization_key": "organization-synthetic",
                      "created_by_id": 10,
                      "created_at": "2026-07-15T10:00:00+00:00",
                      "updated_at": "2026-07-15T10:05:00+00:00"
                    },
                    "matches": [
                      {
                        "id": 900000011,
                        "source_index": 0,
                        "score": 0.89,
                        "geometry": {
                          "type": "Point",
                          "coordinates": [29.0251, 40.9911]
                        },
                        "observation_1": {
                          "id": 900000021,
                          "object_key": "synthetic-object-left",
                          "imagery_id": 900000031,
                          "bbox": [10, 20, 110, 220],
                          "score": 0.88,
                          "segmentation": [
                            [10, 20],
                            [110, 220]
                          ],
                          "image": {
                            "id": 900000031,
                            "sequence_uuid": "sequence-synthetic-1",
                            "uploaded_hash": "synthetic-hash-left",
                            "filename": "synthetic-left.jpg",
                            "resolution": "1920x1080",
                            "heading": 90,
                            "capture_time": "2026-07-15T09:55:00+00:00",
                            "created_by_id": 10,
                            "geometry": {
                              "type": "Point",
                              "coordinates": [29.0251, 40.9911]
                            },
                            "urls": {
                              "original": "https://images.example.test/synthetic/original.jpg",
                              "preview_480": "https://images.example.test/synthetic/preview-480.jpg"
                            }
                          }
                        },
                        "observation_2": {
                          "id": 900000022,
                          "object_key": "synthetic-object-right",
                          "imagery_id": 900000032,
                          "bbox": [12, 22, 112, 222],
                          "score": 0.87,
                          "segmentation": null,
                          "image": null
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "304": {
            "description": "The supplied ETag still matches."
          },
          "404": {
            "description": "Feature not found or invalid path id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Not Found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "503": {
            "description": "Canonical graph is unavailable or fails integrity checks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "AI feature detail is unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/content/newsletter-subscriptions": {
      "post": {
        "operationId": "createNewsletterSubscription",
        "tags": [
          "Public content"
        ],
        "summary": "Request a newsletter subscription",
        "description": "Proxies a public subscription request to the configured newsletter provider without exposing provider credentials.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterSubscriptionRequest"
              },
              "example": {
                "email": "subscriber@example.test",
                "website": ""
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The subscription request was accepted, including an idempotent duplicate or honeypot request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                },
                "example": {
                  "message": "Subscription has been received."
                }
              }
            }
          },
          "422": {
            "description": "The email or honeypot field failed request validation."
          },
          "429": {
            "description": "The per-IP rate limit was exceeded."
          },
          "503": {
            "description": "The newsletter provider is unavailable or not safely configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Subscription service is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/web/auth/token": {
      "post": {
        "operationId": "issueWebToken",
        "tags": [
          "Identity"
        ],
        "summary": "Issue or refresh a first-party web bearer token",
        "description": "A public browser client does not send a confidential OAuth client secret. Password and refresh grants retain the transitional bearer-token contract used by existing Mapilio APIs.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebTokenRequest"
              },
              "example": {
                "grant_type": "password",
                "email": "alice@example.test",
                "password": "synthetic-password-for-example"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new bearer and refresh token pair.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebTokenResponse"
                },
                "example": {
                  "id": 10,
                  "success": true,
                  "token_type": "Bearer",
                  "expires_in": 3600,
                  "access_token": "synthetic-access-token-not-a-credential",
                  "refresh_token": "synthetic-refresh-token-not-a-credential"
                }
              }
            }
          },
          "400": {
            "description": "Credentials, account state, grant, or refresh token were rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": ["Email or password is invalid."]
                }
              }
            }
          },
          "422": {
            "description": "The request fields failed validation or size limits."
          },
          "429": {
            "description": "The per-IP authentication rate limit was exceeded."
          },
          "503": {
            "description": "Token signing or the identity store is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Authentication service is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MobileRegistrationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "username", "email", "password", "callback", "success-params", "error-params"],
        "properties": {
          "name": {"type": "string", "maxLength": 55},
          "username": {"type": "string", "maxLength": 20},
          "email": {"type": "string", "format": "email", "maxLength": 255},
          "password": {"type": "string", "minLength": 8, "maxLength": 72},
          "callback": {"type": "string", "format": "uri", "maxLength": 2048},
          "success-params": {"type": "string", "maxLength": 200},
          "error-params": {"type": "string", "maxLength": 200},
          "referrer": {"type": ["string", "null"], "maxLength": 255}
        }
      },
      "MobilePasswordForgotRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["email", "callback", "success-params", "error-params"],
        "properties": {
          "email": {"type": "string", "format": "email", "maxLength": 255},
          "callback": {"type": "string", "format": "uri", "maxLength": 2048},
          "success-params": {"type": "string", "maxLength": 200},
          "error-params": {"type": "string", "maxLength": 200}
        }
      },
      "MobilePasswordResetRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["code", "password", "re-password"],
        "properties": {
          "code": {"type": "string", "maxLength": 4096},
          "password": {"type": "string", "minLength": 8, "maxLength": 72},
          "re-password": {"type": "string", "minLength": 8, "maxLength": 72}
        }
      },
      "MobileProfileUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "user_bio": {"type": ["string", "null"], "maxLength": 200},
          "display_name": {"type": "string", "maxLength": 40},
          "username": {"type": "string", "maxLength": 20},
          "hidden_profile": {"type": "boolean"},
          "user_profile_photo": {"type": "string", "format": "binary"}
        }
      },
      "MobileProfileResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data"],
        "properties": {
          "data": {
            "oneOf": [
              {
                "type": "array",
                "minItems": 1,
                "maxItems": 1,
                "items": {"$ref": "#/components/schemas/MobileProfile"}
              },
              {"type": "null"}
            ]
          }
        }
      },
      "MobileProfile": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "username",
          "email",
          "user_profile_photo",
          "display_name",
          "str_id",
          "hidden_profile",
          "user_bio",
          "created_at",
          "updated_at",
          "shape_limit",
          "isAdmin",
          "sequences",
          "photos",
          "meters",
          "score"
        ],
        "properties": {
          "id": {"type": "integer", "format": "int64"},
          "username": {"type": ["string", "null"]},
          "email": {"type": ["string", "null"], "format": "email"},
          "user_profile_photo": {"type": ["string", "null"], "format": "uri"},
          "display_name": {"type": ["string", "null"]},
          "str_id": {"type": ["string", "null"]},
          "hidden_profile": {
            "oneOf": [
              {"type": "boolean"},
              {"type": "integer", "enum": [0, 1]}
            ]
          },
          "user_bio": {"type": ["string", "null"]},
          "created_at": {"type": ["string", "null"]},
          "updated_at": {"type": ["string", "null"]},
          "shape_limit": {"type": ["integer", "null"]},
          "isAdmin": {"type": "boolean"},
          "sequences": {"type": "integer"},
          "photos": {"type": "integer"},
          "meters": {"type": "string"},
          "score": {"type": "string"}
        }
      },
      "MobileEmailUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["email"],
        "properties": {
          "email": {"type": "string", "format": "email", "maxLength": 255}
        }
      },
      "MobileAccountDeleteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["delete", "login_type"],
        "properties": {
          "delete": {"const": true},
          "login_type": {"type": "string", "enum": ["default", "apple"]},
          "auth_code": {"type": "string", "maxLength": 4096, "description": "Required when login_type is apple."}
        }
      },
      "MobileAccountAccepted": {
        "type": "object",
        "required": ["success", "message"],
        "properties": {
          "success": {"const": true},
          "message": {"type": "array", "items": {"type": "string"}}
        }
      },
      "MobileBooleanSuccess": {
        "type": "object",
        "required": ["success"],
        "properties": {"success": {"const": true}}
      },
      "MobileActionResponse": {
        "type": "object",
        "required": ["status", "response"],
        "properties": {
          "status": {"const": true},
          "response": {"const": true}
        }
      },
      "MobileDeleteResponse": {
        "type": "object",
        "required": ["status", "response"],
        "properties": {
          "status": {"const": true},
          "response": {
            "type": "object",
            "required": ["success"],
            "properties": {"success": {"const": true}}
          }
        }
      },
      "MobileProfileUpdateResponse": {
        "type": "object",
        "required": ["status", "response"],
        "properties": {
          "status": {"const": true},
          "response": {
            "type": "object",
            "required": ["id", "username", "email", "display_name", "user_profile_photo", "user_bio", "hidden_profile", "updated_at"],
            "properties": {
              "id": {"type": "integer", "format": "int64"},
              "username": {"type": "string"},
              "email": {"type": "string", "format": "email"},
              "display_name": {"type": "string"},
              "user_profile_photo": {"type": ["string", "null"], "format": "uri"},
              "user_bio": {"type": ["string", "null"]},
              "hidden_profile": {"type": "boolean"},
              "updated_at": {"type": ["string", "null"], "format": "date-time"}
            }
          }
        }
      },
      "AiFeatureDetailResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AiFeature"
          }
        }
      },
      "AiFeature": {
        "type": "object",
        "required": [
          "type",
          "id",
          "geometry",
          "properties",
          "matches"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "geometry": {
            "$ref": "#/components/schemas/PointGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/AiFeatureProperties"
          },
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AiFeatureMatch"
            }
          }
        }
      },
      "AiFeatureProperties": {
        "type": "object",
        "required": [
          "class_code",
          "confidence",
          "verified",
          "dimensions",
          "attributes",
          "sequence_uuid",
          "project_key",
          "organization_key",
          "created_by_id",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "class_code": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "verified": {
            "type": "boolean"
          },
          "dimensions": {
            "$ref": "#/components/schemas/FeatureDimensions"
          },
          "attributes": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "sequence_uuid": {
            "type": "string"
          },
          "project_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "FeatureDimensions": {
        "type": "object",
        "required": [
          "width",
          "height",
          "area"
        ],
        "properties": {
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "area": {
            "type": "number"
          }
        }
      },
      "AiFeatureMatch": {
        "type": "object",
        "required": [
          "id",
          "source_index",
          "score",
          "geometry",
          "observation_1",
          "observation_2"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "source_index": {
            "type": "integer",
            "minimum": 0
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "geometry": {
            "$ref": "#/components/schemas/PointGeometry"
          },
          "observation_1": {
            "$ref": "#/components/schemas/AiFeatureObservation"
          },
          "observation_2": {
            "$ref": "#/components/schemas/AiFeatureObservation"
          }
        }
      },
      "AiFeatureObservation": {
        "type": "object",
        "required": [
          "id",
          "object_key",
          "imagery_id",
          "bbox",
          "score",
          "segmentation",
          "image"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "object_key": {
            "type": "string"
          },
          "imagery_id": {
            "type": "integer",
            "format": "int64"
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "items": {
              "type": "number"
            }
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "segmentation": {
            "type": [
              "array",
              "null"
            ]
          },
          "image": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FeatureImagery"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "FeatureImagery": {
        "type": "object",
        "required": [
          "id",
          "sequence_uuid",
          "uploaded_hash",
          "filename",
          "resolution",
          "heading",
          "capture_time",
          "created_by_id",
          "geometry",
          "urls"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "sequence_uuid": {
            "type": "string"
          },
          "uploaded_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolution": {
            "type": [
              "string",
              "null"
            ]
          },
          "heading": {
            "type": [
              "number",
              "null"
            ]
          },
          "capture_time": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "geometry": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PointGeometry"
              },
              {
                "type": "null"
              }
            ]
          },
          "urls": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ImageUrls"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ImageUrls": {
        "type": "object",
        "required": [
          "original",
          "preview_480"
        ],
        "properties": {
          "original": {
            "type": "string",
            "format": "uri"
          },
          "preview_480": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PointGeometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "Point"
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "prefixItems": [
              {
                "type": "number",
                "minimum": -180,
                "maximum": 180
              },
              {
                "type": "number",
                "minimum": -90,
                "maximum": 90
              }
            ]
          }
        }
      },
      "WebTokenRequest": {
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "grant_type",
              "email",
              "password"
            ],
            "properties": {
              "grant_type": {
                "const": "password"
              },
              "email": {
                "type": "string",
                "maxLength": 254
              },
              "password": {
                "type": "string",
                "maxLength": 1024
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "grant_type",
              "refresh_token"
            ],
            "properties": {
              "grant_type": {
                "const": "refresh_token"
              },
              "refresh_token": {
                "type": "string",
                "maxLength": 4096
              }
            }
          }
        ]
      },
      "MobileSocialTokenRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "provider",
          "token"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "google",
              "facebook",
              "apple",
              "openstreetmap"
            ]
          },
          "token": {
            "type": "string",
            "maxLength": 8192
          }
        }
      },
      "WebTokenResponse": {
        "type": "object",
        "required": [
          "id",
          "success",
          "token_type",
          "expires_in",
          "access_token",
          "refresh_token"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "success": {
            "const": true
          },
          "token_type": {
            "const": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 60
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "WebAuthError": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "const": false
          },
          "message": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "message",
          "errors"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "NewsletterSubscriptionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Honeypot field. Human clients leave this empty."
          }
        }
      },
      "PublicReadPagination": {
        "type": "object",
        "additionalProperties": false,
        "required": ["current_page", "per_page", "has_more"],
        "properties": {
          "current_page": {"type": "integer", "minimum": 1},
          "per_page": {"type": "integer", "minimum": 1, "maximum": 1000},
          "has_more": {"type": "boolean"}
        }
      },
      "SequenceDetailItem": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "heading", "filename", "uploaded_hash", "fov", "vfov", "pitch", "capture_time", "created_by_id", "resolution"],
        "properties": {
          "id": {"type": "integer", "format": "int64"},
          "heading": {"type": ["integer", "null"]},
          "filename": {"type": ["string", "null"]},
          "uploaded_hash": {"type": ["string", "null"]},
          "fov": {"type": ["string", "null"]},
          "vfov": {"type": ["string", "null"]},
          "pitch": {"type": ["string", "null"]},
          "capture_time": {"type": ["string", "null"]},
          "created_by_id": {"type": ["integer", "null"], "format": "int64"},
          "resolution": {"type": ["string", "null"]}
        }
      },
      "SequenceDetailDefaultResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data"],
        "properties": {
          "data": {
            "oneOf": [
              {"type": "array", "items": {"$ref": "#/components/schemas/SequenceDetailItem"}},
              {"type": "null"}
            ]
          }
        }
      },
      "SequenceDetailPaginatedResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data", "pagination"],
        "properties": {
          "data": {"oneOf": [{"type": "array", "items": {"$ref": "#/components/schemas/SequenceDetailItem"}}, {"type": "null"}]},
          "pagination": {"$ref": "#/components/schemas/PublicReadPagination"}
        }
      },
      "EmbedInfo": {
        "type": ["object", "null"],
        "additionalProperties": false,
        "required": ["sequence_uuid", "start_address"],
        "properties": {
          "sequence_uuid": {"type": ["string", "null"]},
          "start_address": {"type": ["string", "null"]}
        }
      },
      "EmbedEntry": {
        "type": "object",
        "additionalProperties": false,
        "required": ["photo_uuid", "created_by_id", "id", "capture_time", "filename", "latitude", "longitude", "uploaded_hash", "sequence_uuid", "heading", "resolution", "fov", "vfov"],
        "properties": {
          "photo_uuid": {"type": ["string", "null"]},
          "created_by_id": {"type": ["integer", "null"], "format": "int64"},
          "id": {"type": "integer", "format": "int64"},
          "capture_time": {"type": ["string", "null"]},
          "filename": {"type": ["string", "null"]},
          "latitude": {"type": ["string", "null"]},
          "longitude": {"type": ["string", "null"]},
          "uploaded_hash": {"type": ["string", "null"]},
          "sequence_uuid": {"type": ["string", "null"]},
          "heading": {"type": ["integer", "null"]},
          "resolution": {"type": ["string", "null"]},
          "fov": {"type": ["string", "null"]},
          "vfov": {"type": ["string", "null"]}
        }
      },
      "EmbedPayload": {
        "type": "object",
        "additionalProperties": false,
        "required": ["info", "entries"],
        "properties": {
          "info": {"$ref": "#/components/schemas/EmbedInfo"},
          "entries": {"type": "array", "items": {"$ref": "#/components/schemas/EmbedEntry"}}
        }
      },
      "EmbedDefaultResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data"],
        "properties": {"data": {"$ref": "#/components/schemas/EmbedPayload"}}
      },
      "EmbedPaginatedResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data", "pagination"],
        "properties": {
          "data": {"$ref": "#/components/schemas/EmbedPayload"},
          "pagination": {"$ref": "#/components/schemas/PublicReadPagination"}
        }
      },
      "UploadedRoad": {
        "type": "object",
        "additionalProperties": false,
        "required": ["sequence_uuid", "linefeature"],
        "properties": {
          "sequence_uuid": {"type": ["string", "null"]},
          "linefeature": {"type": ["string", "null"]}
        }
      },
      "UploadedRoadsDefaultResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data"],
        "properties": {
          "data": {
            "oneOf": [
              {"type": "array", "items": {"$ref": "#/components/schemas/UploadedRoad"}},
              {"type": "null"}
            ]
          }
        }
      },
      "UploadedRoadsPaginatedResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["data", "pagination"],
        "properties": {
          "data": {"oneOf": [{"type": "array", "items": {"$ref": "#/components/schemas/UploadedRoad"}}, {"type": "null"}]},
          "pagination": {"$ref": "#/components/schemas/PublicReadPagination"}
        }
      },
      "PublicReadTooLargeError": {
        "type": "object",
        "additionalProperties": false,
        "required": ["success", "message", "error_code"],
        "properties": {
          "success": {"const": false},
          "message": {"type": "array", "items": {"const": "Payload Too Large"}},
          "error_code": {"const": 413}
        }
      },
      "PublicReadPaginationError": {
        "type": "object",
        "additionalProperties": false,
        "required": ["success", "message", "error_code"],
        "properties": {
          "success": {"const": false},
          "message": {"type": "array", "items": {"const": "'page' and 'per_page' must be positive integers within the supported range."}},
          "error_code": {"const": 422}
        }
      },
      "UnknownEmbedError": {
        "type": "object",
        "additionalProperties": false,
        "required": ["success", "message", "error_code"],
        "properties": {
          "success": {"const": false},
          "message": {"type": "array", "items": {"const": "Not Found"}},
          "error_code": {"const": 404}
        }
      },
      "ApiMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "mobileBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Mapilio signed token"
      }
    }
  }
}
