{
  "openapi": "3.1.0",
  "info": {
    "title": "Mapilio API",
    "version": "1.0.0-draft",
    "summary": "Versioned contracts implemented by the modern Mapilio backend.",
    "description": "This document grows endpoint by endpoint as modern contracts are implemented and tested. It is separate from the legacy compatibility inventory.",
    "license": {
      "name": "License not yet selected",
      "url": "https://github.com/mapilio/backend/blob/main/docs/governance/public-release-decisions.md"
    }
  },
  "servers": [
    {
      "url": "https://end.mapilio.com",
      "description": "Production API; modern route activation remains subject to release gates."
    }
  ],
  "tags": [
    {
      "name": "Geospatial features",
      "description": "Versioned reads for canonical detections and geospatial publication data."
    },
    {
      "name": "Public content",
      "description": "Public content and server-side subscription operations."
    },
    {
      "name": "Identity",
      "description": "First-party authentication contracts for Mapilio clients."
    }
  ],
  "paths": {
    "/api/v1/geo/ai-features/{featureId}": {
      "get": {
        "operationId": "getAiFeatureDetail",
        "tags": [
          "Geospatial features"
        ],
        "summary": "Get a canonical AI feature and its matched imagery observations",
        "security": [],
        "parameters": [
          {
            "name": "featureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 900000001
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical feature detail",
            "headers": {
              "ETag": {
                "description": "Validator accepted by If-None-Match.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Public cache and stale-while-revalidate policy.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiFeatureDetailResponse"
                },
                "example": {
                  "data": {
                    "type": "Feature",
                    "id": 900000001,
                    "geometry": {
                      "type": "Point",
                      "coordinates": [29.0255, 40.9911]
                    },
                    "properties": {
                      "class_code": "stop-sign",
                      "confidence": 0.91,
                      "verified": true,
                      "dimensions": {
                        "width": 0.8,
                        "height": 1.6,
                        "area": 1.28
                      },
                      "attributes": {
                        "color": "red"
                      },
                      "sequence_uuid": "sequence-synthetic-1",
                      "project_key": "project-synthetic",
                      "organization_key": "organization-synthetic",
                      "created_by_id": 10,
                      "created_at": "2026-07-15T10:00:00+00:00",
                      "updated_at": "2026-07-15T10:05:00+00:00"
                    },
                    "matches": [
                      {
                        "id": 900000011,
                        "source_index": 0,
                        "score": 0.89,
                        "geometry": {
                          "type": "Point",
                          "coordinates": [29.0251, 40.9911]
                        },
                        "observation_1": {
                          "id": 900000021,
                          "object_key": "synthetic-object-left",
                          "imagery_id": 900000031,
                          "bbox": [10, 20, 110, 220],
                          "score": 0.88,
                          "segmentation": [
                            [10, 20],
                            [110, 220]
                          ],
                          "image": {
                            "id": 900000031,
                            "sequence_uuid": "sequence-synthetic-1",
                            "uploaded_hash": "synthetic-hash-left",
                            "filename": "synthetic-left.jpg",
                            "resolution": "1920x1080",
                            "heading": 90,
                            "capture_time": "2026-07-15T09:55:00+00:00",
                            "created_by_id": 10,
                            "geometry": {
                              "type": "Point",
                              "coordinates": [29.0251, 40.9911]
                            },
                            "urls": {
                              "original": "https://images.example.test/synthetic/original.jpg",
                              "preview_480": "https://images.example.test/synthetic/preview-480.jpg"
                            }
                          }
                        },
                        "observation_2": {
                          "id": 900000022,
                          "object_key": "synthetic-object-right",
                          "imagery_id": 900000032,
                          "bbox": [12, 22, 112, 222],
                          "score": 0.87,
                          "segmentation": null,
                          "image": null
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "304": {
            "description": "The supplied ETag still matches."
          },
          "404": {
            "description": "Feature not found or invalid path id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Not Found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "503": {
            "description": "Canonical graph is unavailable or fails integrity checks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "AI feature detail is unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/content/newsletter-subscriptions": {
      "post": {
        "operationId": "createNewsletterSubscription",
        "tags": [
          "Public content"
        ],
        "summary": "Request a newsletter subscription",
        "description": "Proxies a public subscription request to the configured newsletter provider without exposing provider credentials.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterSubscriptionRequest"
              },
              "example": {
                "email": "subscriber@example.test",
                "website": ""
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The subscription request was accepted, including an idempotent duplicate or honeypot request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                },
                "example": {
                  "message": "Subscription has been received."
                }
              }
            }
          },
          "422": {
            "description": "The email or honeypot field failed request validation."
          },
          "429": {
            "description": "The per-IP rate limit was exceeded."
          },
          "503": {
            "description": "The newsletter provider is unavailable or not safely configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Subscription service is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/web/auth/token": {
      "post": {
        "operationId": "issueWebToken",
        "tags": [
          "Identity"
        ],
        "summary": "Issue or refresh a first-party web bearer token",
        "description": "A public browser client does not send a confidential OAuth client secret. Password and refresh grants retain the transitional bearer-token contract used by existing Mapilio APIs.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebTokenRequest"
              },
              "example": {
                "grant_type": "password",
                "email": "alice@example.test",
                "password": "synthetic-password-for-example"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new bearer and refresh token pair.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebTokenResponse"
                },
                "example": {
                  "id": 10,
                  "success": true,
                  "token_type": "Bearer",
                  "expires_in": 3600,
                  "access_token": "synthetic-access-token-not-a-credential",
                  "refresh_token": "synthetic-refresh-token-not-a-credential"
                }
              }
            }
          },
          "400": {
            "description": "Credentials, account state, grant, or refresh token were rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": ["Email or password is invalid."]
                }
              }
            }
          },
          "422": {
            "description": "The request fields failed validation or size limits."
          },
          "429": {
            "description": "The per-IP authentication rate limit was exceeded."
          },
          "503": {
            "description": "Token signing or the identity store is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Authentication service is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AiFeatureDetailResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AiFeature"
          }
        }
      },
      "AiFeature": {
        "type": "object",
        "required": [
          "type",
          "id",
          "geometry",
          "properties",
          "matches"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "geometry": {
            "$ref": "#/components/schemas/PointGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/AiFeatureProperties"
          },
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AiFeatureMatch"
            }
          }
        }
      },
      "AiFeatureProperties": {
        "type": "object",
        "required": [
          "class_code",
          "confidence",
          "verified",
          "dimensions",
          "attributes",
          "sequence_uuid",
          "project_key",
          "organization_key",
          "created_by_id",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "class_code": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "verified": {
            "type": "boolean"
          },
          "dimensions": {
            "$ref": "#/components/schemas/FeatureDimensions"
          },
          "attributes": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "sequence_uuid": {
            "type": "string"
          },
          "project_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "FeatureDimensions": {
        "type": "object",
        "required": [
          "width",
          "height",
          "area"
        ],
        "properties": {
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "area": {
            "type": "number"
          }
        }
      },
      "AiFeatureMatch": {
        "type": "object",
        "required": [
          "id",
          "source_index",
          "score",
          "geometry",
          "observation_1",
          "observation_2"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "source_index": {
            "type": "integer",
            "minimum": 0
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "geometry": {
            "$ref": "#/components/schemas/PointGeometry"
          },
          "observation_1": {
            "$ref": "#/components/schemas/AiFeatureObservation"
          },
          "observation_2": {
            "$ref": "#/components/schemas/AiFeatureObservation"
          }
        }
      },
      "AiFeatureObservation": {
        "type": "object",
        "required": [
          "id",
          "object_key",
          "imagery_id",
          "bbox",
          "score",
          "segmentation",
          "image"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "object_key": {
            "type": "string"
          },
          "imagery_id": {
            "type": "integer",
            "format": "int64"
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "items": {
              "type": "number"
            }
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "segmentation": {
            "type": [
              "array",
              "null"
            ]
          },
          "image": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FeatureImagery"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "FeatureImagery": {
        "type": "object",
        "required": [
          "id",
          "sequence_uuid",
          "uploaded_hash",
          "filename",
          "resolution",
          "heading",
          "capture_time",
          "created_by_id",
          "geometry",
          "urls"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "sequence_uuid": {
            "type": "string"
          },
          "uploaded_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolution": {
            "type": [
              "string",
              "null"
            ]
          },
          "heading": {
            "type": [
              "number",
              "null"
            ]
          },
          "capture_time": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "geometry": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PointGeometry"
              },
              {
                "type": "null"
              }
            ]
          },
          "urls": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ImageUrls"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ImageUrls": {
        "type": "object",
        "required": [
          "original",
          "preview_480"
        ],
        "properties": {
          "original": {
            "type": "string",
            "format": "uri"
          },
          "preview_480": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PointGeometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "Point"
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "prefixItems": [
              {
                "type": "number",
                "minimum": -180,
                "maximum": 180
              },
              {
                "type": "number",
                "minimum": -90,
                "maximum": 90
              }
            ]
          }
        }
      },
      "WebTokenRequest": {
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "grant_type",
              "email",
              "password"
            ],
            "properties": {
              "grant_type": {
                "const": "password"
              },
              "email": {
                "type": "string",
                "maxLength": 254
              },
              "password": {
                "type": "string",
                "maxLength": 1024
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "grant_type",
              "refresh_token"
            ],
            "properties": {
              "grant_type": {
                "const": "refresh_token"
              },
              "refresh_token": {
                "type": "string",
                "maxLength": 4096
              }
            }
          }
        ]
      },
      "WebTokenResponse": {
        "type": "object",
        "required": [
          "id",
          "success",
          "token_type",
          "expires_in",
          "access_token",
          "refresh_token"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "success": {
            "const": true
          },
          "token_type": {
            "const": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 60
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "WebAuthError": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "const": false
          },
          "message": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "NewsletterSubscriptionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Honeypot field. Human clients leave this empty."
          }
        }
      },
      "ApiMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
