{
  "openapi": "3.1.0",
  "info": {
    "title": "Mapilio API",
    "version": "1.0.0-draft",
    "summary": "Versioned contracts implemented by the modern Mapilio backend.",
    "description": "This document grows endpoint by endpoint as modern contracts are implemented and tested. It is separate from the legacy compatibility inventory.",
    "license": {
      "name": "License not yet selected",
      "url": "https://github.com/mapilio/backend/blob/main/docs/governance/public-release-decisions.md"
    }
  },
  "servers": [
    {
      "url": "https://end.mapilio.com",
      "description": "Production API; modern route activation remains subject to release gates."
    }
  ],
  "tags": [
    {
      "name": "AI callbacks",
      "description": "Versioned, signed AI prediction receipt ingestion. Callback activation remains separately controlled."
    },
    {
      "name": "Geospatial features",
      "description": "Versioned reads for canonical detections and geospatial publication data."
    },
    {
      "name": "Imagery reads",
      "description": "Legacy-compatible, read-only sequence and embed result contracts."
    },
    {
      "name": "Inventory",
      "description": "Legacy-compatible public inventory metadata."
    },
    {
      "name": "Public content",
      "description": "Public content and server-side subscription operations."
    },
    {
      "name": "Identity",
      "description": "First-party authentication contracts for Mapilio clients."
    },
    {
      "name": "Projects",
      "description": "Versioned, authenticated project membership reads."
    }
  ],
  "paths": {
    "/api/v1/ai/predictions/callback": {
      "post": {
        "operationId": "receiveAiPredictionCallback",
        "tags": [
          "AI callbacks"
        ],
        "summary": "Receive a signed AI prediction callback",
        "description": "Accepts an AI prediction result as a durable receipt and queues asynchronous validation. The receipt boundary checks the JSON envelope, id, status, SUCCESS result object, and optional features array; it does not synchronously validate nested result fields. Nested result validation and optional persistence happen asynchronously and can later mark the receipt as errored. Both 202 and 200 acknowledge a durable receipt only. This endpoint uses custom HMAC request signing, not bearer authentication. Sign the exact raw HTTP request body bytes with HMAC-SHA256 over `timestamp + \".\" + nonce + \".\" + raw_body`; do not parse, reserialize, normalize, or otherwise change the bytes before signing. The timestamp must be fresh relative to the server clock; the production acceptance window is deployment-specific and is not stated in this contract. A nonce can be used only once: replaying the same nonce returns 409, while redelivering the same payload with a fresh nonce is idempotent and returns 200. Callback receipt ingestion is disabled by default until separately activated.",
        "security": [
          {
            "aiCallbackTimestamp": [],
            "aiCallbackNonce": [],
            "aiCallbackSignature": []
          }
        ],
        "parameters": [
          {
            "name": "X-Mapilio-Timestamp",
            "in": "header",
            "required": true,
            "description": "Required decimal Unix timestamp in seconds. It must be fresh relative to the server clock; the exact production acceptance window is deployment-specific.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1770000000"
          },
          {
            "name": "X-Mapilio-Nonce",
            "in": "header",
            "required": true,
            "description": "Required single-use request nonce.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]{16,128}$"
            },
            "example": "callback.synthetic:nonce-01"
          },
          {
            "name": "X-Mapilio-Signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 digest as 64 hexadecimal characters, optionally prefixed with `sha256=`. This example is illustrative only and cannot be valid without the deployment signing secret.",
            "schema": {
              "type": "string",
              "pattern": "^(sha256=)?[A-Fa-f0-9]{64}$"
            },
            "example": "sha256=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiPredictionCallbackRequest"
              },
              "examples": {
                "success": {
                  "summary": "Synthetic SUCCESS callback",
                  "value": {
                    "id": "prediction-response-synthetic-success",
                    "status": "SUCCESS",
                    "result": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "geometry": {
                            "type": "Point",
                            "coordinates": [0, 0]
                          },
                          "properties": {
                            "class_code": "stop-sign",
                            "confidence": 0.95,
                            "width": 1,
                            "height": 1,
                            "area": 1,
                            "matchedPoints": []
                          }
                        }
                      ]
                    }
                  }
                },
                "error": {
                  "summary": "Synthetic ERROR callback",
                  "value": {
                    "id": "prediction-response-synthetic-error",
                    "status": "ERROR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A new callback receipt was durably stored and acknowledged for asynchronous validation. Nested result validation or persistence may later mark the receipt as errored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPredictionCallbackAcceptedResponse"
                },
                "example": {
                  "status": true,
                  "receipt_id": 1001,
                  "duplicate": false
                }
              }
            }
          },
          "200": {
            "description": "The same payload was redelivered with a fresh nonce and matched an existing durable receipt. This acknowledgement is idempotent and does not synchronously validate nested result data. It is distinct from replaying a nonce, which returns 409.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPredictionCallbackDuplicateResponse"
                },
                "example": {
                  "status": true,
                  "receipt_id": 1001,
                  "duplicate": true
                }
              }
            }
          },
          "401": {
            "description": "The required signing headers are missing or invalid, the signature does not match the exact raw body, or the timestamp is not fresh.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Callback receipt ingestion is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Not Found"
                }
              }
            }
          },
          "409": {
            "description": "The nonce has already been used. Sending the same payload with a fresh nonce is an idempotent duplicate and returns 200 instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Callback replay rejected."
                }
              }
            }
          },
          "413": {
            "description": "The raw request body exceeds the configured callback payload limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "The JSON is malformed, the top-level envelope, id, or status is invalid, SUCCESS lacks an object result, features is not an array when present, or the feature count exceeds the deployment-configured ceiling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Invalid callback payload."
                }
              }
            }
          },
          "500": {
            "description": "The callback receipt could not be stored or the accepted receipt could not be queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "storageFailure": {
                    "summary": "Receipt storage failure",
                    "value": {
                      "message": "Callback receipt could not be stored."
                    }
                  },
                  "queueFailure": {
                    "summary": "Receipt queue failure",
                    "value": {
                      "message": "Callback receipt could not be queued."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mobile/accounts": {
      "post": {
        "operationId": "registerMobileAccount",
        "tags": ["Identity"],
        "summary": "Register a password-based mobile account",
        "description": "Creates an inactive account and sends a time-limited signed activation link. Callback hosts and schemes are server allowlisted.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileRegistrationRequest"},
              "example": {
                "name": "Example Mapper",
                "username": "example-mapper",
                "email": "mapper@example.test",
                "password": "synthetic-password-for-example",
                "callback": "https://mapilio.com/app",
                "success-params": "tverification=true",
                "error-params": "tverification=false"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration accepted; activation is pending.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileAccountAccepted"},
                "example": {"success": true, "message": ["Check your email to activate your account."]}
              }
            }
          },
          "400": {"description": "The identity, callback, or request fields were rejected."},
          "429": {"description": "The registration rate limit was exceeded."},
          "503": {"description": "Account creation or activation email delivery is unavailable."}
        }
      }
    },
    "/api/v1/mobile/password/forgot": {
      "post": {
        "operationId": "requestMobilePasswordReset",
        "tags": ["Identity"],
        "summary": "Request a mobile password reset",
        "description": "Returns the same success response for known and unknown addresses. A known active account receives a time-limited signed reset link.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobilePasswordForgotRequest"},
              "example": {
                "email": "mapper@example.test",
                "callback": "https://mapilio.com/reset-password",
                "success-params": "tverification=true",
                "error-params": "tverification=false"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was accepted without confirming account existence.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileBooleanSuccess"},
                "example": {"success": true}
              }
            }
          },
          "400": {"description": "The request fields or callback were rejected."},
          "429": {"description": "The per-address or per-IP reset rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/password/reset": {
      "post": {
        "operationId": "resetMobilePassword",
        "tags": ["Identity"],
        "summary": "Complete a mobile password reset",
        "description": "Consumes the short-lived opaque code produced after the signed email link is opened. A code can be used only once.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobilePasswordResetRequest"},
              "example": {
                "code": "synthetic-opaque-reset-code",
                "password": "new-synthetic-password",
                "re-password": "new-synthetic-password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed and reset code consumed.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileBooleanSuccess"},
                "example": {"success": true}
              }
            }
          },
          "400": {"description": "The reset code is invalid, expired, consumed, or the passwords do not match."},
          "429": {"description": "The password renewal rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/profile": {
      "get": {
        "operationId": "getMobileProfile",
        "tags": ["Identity"],
        "summary": "Get the authenticated mobile profile",
        "description": "Returns the authenticated mobile profile in the legacy-compatible data wrapper. The data value is null when the profile record is unavailable; otherwise it is an array containing the profile.",
        "security": [{"mobileBearer": []}],
        "responses": {
          "200": {
            "description": "The authenticated profile, or a null data value when no profile record is available.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileProfileResponse"},
                "examples": {
                  "profile": {
                    "summary": "Profile available",
                    "value": {
                      "data": [{
                        "id": 10,
                        "username": "example-mapper",
                        "email": "mapper@example.test",
                        "user_profile_photo": "https://mapilio.test/default-avatar.png",
                        "display_name": "Example Mapper",
                        "str_id": "synthetic-user-key",
                        "hidden_profile": 0,
                        "user_bio": "Mapping fresh roads.",
                        "created_at": "2026-01-01 00:00:00",
                        "updated_at": "2026-01-02 00:00:00",
                        "shape_limit": 100,
                        "isAdmin": false,
                        "sequences": 2,
                        "photos": 3,
                        "meters": "4.000",
                        "score": "16"
                      }]
                    }
                  },
                  "profileUnavailable": {
                    "summary": "Profile unavailable",
                    "value": {"data": null}
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid mobile bearer token is required.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ApiError"},
                "example": {"message": "Unauthenticated."}
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateMobileProfile",
        "tags": ["Identity"],
        "summary": "Update the authenticated mobile profile",
        "description": "Updates bounded profile fields and optionally stores a validated profile image on the configured persistent disk.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/MobileProfileUpdateRequest"},
              "example": {
                "user_bio": "Mapping fresh roads.",
                "display_name": "Example Mapper",
                "username": "example-mapper",
                "hidden_profile": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated public profile fields.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileProfileUpdateResponse"},
                "example": {
                  "status": true,
                  "response": {
                    "id": 10,
                    "username": "example-mapper",
                    "email": "mapper@example.test",
                    "display_name": "Example Mapper",
                    "user_profile_photo": "https://cdn.example.test/profile-photos/10/synthetic.jpg",
                    "user_bio": "Mapping fresh roads.",
                    "hidden_profile": false,
                    "updated_at": "2026-08-19T10:00:00Z"
                  }
                }
              }
            }
          },
          "400": {"description": "Profile fields, username, or image were rejected."},
          "401": {"description": "A valid mobile bearer token is required."},
          "429": {"description": "The authenticated account-write rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/profile/email": {
      "post": {
        "operationId": "requestMobileEmailChange",
        "tags": ["Identity"],
        "summary": "Replace a provider-generated placeholder email",
        "description": "Sends a signed confirmation to the new unique address. The stored address changes only after confirmation and this flow is unavailable to ordinary password accounts.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileEmailUpdateRequest"},
              "example": {"email": "mapper@example.test"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email confirmation was sent.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileActionResponse"},
                "example": {"status": true, "response": true}
              }
            }
          },
          "400": {"description": "The email is invalid or already used."},
          "401": {"description": "A valid mobile bearer token is required."},
          "409": {"description": "The current account is not eligible for placeholder-email replacement."},
          "429": {"description": "The authenticated account-write rate limit was exceeded."}
        }
      }
    },
    "/api/v1/mobile/profile/email-modal": {
      "post": {
        "operationId": "checkMobileEmailModal",
        "tags": ["Identity"],
        "summary": "Check whether the mobile email modal was shown",
        "description": "Accepts an empty POST body and preserves the exact behavior of legacy `POST /api/function/user_profile/profile/checkIsModalShown`. The first call for an authenticated user returns exactly `{status: false}` and atomically inserts one profile row; a repeat call returns exactly `{status: true}` without inserting another row. The endpoint uses the existing mobile bearer security boundary. The published contract contains no inactive/disabled-user exception serialization. No endpoint-specific throttle, response cache, ETag, or conditional request handling is part of this contract. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; production enforcement and its limits are not asserted by this contract.",
        "security": [{"mobileBearer": []}],
        "responses": {
          "200": {
            "description": "The exact modal status. The first call is false and creates the single profile-row marker; subsequent calls are true.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileEmailModalResponse"},
                "examples": {
                  "firstCall": {
                    "summary": "Synthetic first call",
                    "value": {"status": false}
                  },
                  "repeatCall": {
                    "summary": "Synthetic repeat call",
                    "value": {"status": true}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The bearer token is missing, invalid, or no longer represents an active, enabled, non-deleted user.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileEmailModalUnauthenticatedError"},
                "example": {"message": "Unauthenticated."}
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Enforcement and limits are deployment-configurable; the documented response wording is stable and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mobile/onesignal/identity-verification": {
      "post": {
        "operationId": "verifyMobileOneSignalIdentity",
        "tags": ["Identity"],
        "summary": "Verify a mobile OneSignal identity",
        "description": "Verifies the submitted email against the active mobile bearer user and returns a locally generated HMAC-SHA256 identity hash. No request body is required: an omitted body is accepted and returns the documented 401 failure when no email is available. Maintained mobile callers send `multipart/form-data` with the field `options[parameters][email]`; the runtime also accepts the equivalent JSON object `{options:{parameters:{email}}}`. Bearer lookup is controller-owned and requires an active mobile user; the email comparison is exact and case-sensitive. The success hash is lowercase hexadecimal and is synthetic in these examples. The signing key is selected from server-side configuration, using the configured OneSignal key with the mobile signing key as fallback; no key value is accepted from or returned to the caller. This endpoint performs no outbound OneSignal request. Missing, empty, wrong, or non-string-coerced email values and missing, invalid, stale, deleted, unactivated, or disabled bearer credentials use the versioned route's configured 401 failure status and exact generic error envelope. This contract documents only the versioned route and does not claim exact failure-status parity with its legacy counterpart. No endpoint-specific throttle, response cache, ETag, or conditional request handling is part of this contract, and no 304 response is defined. The deployment-optional global API limiter may return the documented 429 response when enforcement is enabled; it is not an endpoint-specific limiter, and production enforcement and limits are not asserted by this contract.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileOneSignalIdentityVerificationRequest"},
              "example": {
                "options": {
                  "parameters": {
                    "email": "mapper@example.test"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/MobileOneSignalIdentityVerificationMultipartRequest"},
              "example": {
                "options[parameters][email]": "mapper@example.test"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email matched the active mobile bearer user and a synthetic local HMAC-SHA256 identity hash was returned.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileOneSignalIdentityVerificationResponse"},
                "example": {
                  "status": true,
                  "response": {
                    "hash": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The versioned route's configured generic failure response for missing, invalid, stale, deleted, unactivated, or disabled bearer credentials, or for missing, empty, wrong, or non-string-coerced email values. The exact legacy failure status is intentionally outside this versioned contract.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileOneSignalIdentityVerificationError"},
                "example": {
                  "success": false,
                  "message": ["Verification failed."]
                }
              }
            }
          },
          "429": {
            "description": "The deployment-optional global API limiter rejected the request when enforcement is enabled. This is not an endpoint-specific limiter; enforcement and limits are deployment-configurable, and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mobile/account": {
      "delete": {
        "operationId": "deleteMobileAccount",
        "tags": ["Identity"],
        "summary": "Delete and anonymize the authenticated mobile account",
        "description": "Preserves contribution ownership while removing personal profile fields and disabling the identity so all current access and refresh tokens stop working. Apple authorization is revoked before deletion; provider failure leaves the account unchanged.",
        "security": [{"mobileBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MobileAccountDeleteRequest"},
              "example": {"delete": true, "login_type": "default"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The identity was anonymized and disabled.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MobileDeleteResponse"},
                "example": {"status": true, "response": {"success": true}}
              }
            }
          },
          "400": {"description": "Deletion confirmation or login type was rejected."},
          "401": {"description": "A valid mobile bearer token is required."},
          "409": {"description": "The account is already unavailable."},
          "429": {"description": "The account-deletion rate limit was exceeded."},
          "503": {"description": "Apple authorization could not be revoked; no account data was changed."}
        }
      }
    },
    "/api/v1/mobile/auth/public-token": {
      "post": {
        "operationId": "issueMobilePublicToken",
        "tags": [
          "Identity"
        ],
        "summary": "Issue or refresh a public-client mobile bearer token",
        "description": "A shipped mobile application is a public client and does not send a client id or client secret. The password grant accepts either an email or username with a password; when both email and username are supplied, the current backend gives email precedence. The refresh_token grant exchanges a previously issued refresh token for a new bearer-token pair. Both application/json and multipart/form-data are accepted. Examples use synthetic credentials and tokens only.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobilePublicTokenRequest"
              },
              "examples": {
                "passwordEmail": {
                  "summary": "Password grant with synthetic email",
                  "value": {
                    "grant_type": "password",
                    "email": "mapper@example.test",
                    "password": "synthetic-password-for-example"
                  }
                },
                "passwordUsername": {
                  "summary": "Password grant with synthetic username",
                  "value": {
                    "grant_type": "password",
                    "username": "synthetic-mapper",
                    "password": "synthetic-password-for-example"
                  }
                },
                "passwordEmailPrecedence": {
                  "summary": "Email takes precedence when both identifiers are supplied",
                  "value": {
                    "grant_type": "password",
                    "email": "mapper@example.test",
                    "username": "synthetic-fallback-username",
                    "password": "synthetic-password-for-example"
                  }
                },
                "refresh": {
                  "summary": "Refresh grant with a synthetic token",
                  "value": {
                    "grant_type": "refresh_token",
                    "refresh_token": "synthetic-refresh-token-not-a-credential"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MobilePublicTokenRequest"
              },
              "examples": {
                "passwordEmail": {
                  "summary": "Multipart password grant",
                  "value": {
                    "grant_type": "password",
                    "email": "mapper@example.test",
                    "password": "synthetic-password-for-example"
                  }
                },
                "passwordUsername": {
                  "summary": "Multipart password grant with synthetic username",
                  "value": {
                    "grant_type": "password",
                    "username": "synthetic-mapper",
                    "password": "synthetic-password-for-example"
                  }
                },
                "passwordEmailPrecedence": {
                  "summary": "Multipart email takes precedence when both identifiers are supplied",
                  "value": {
                    "grant_type": "password",
                    "email": "mapper@example.test",
                    "username": "synthetic-fallback-username",
                    "password": "synthetic-password-for-example"
                  }
                },
                "refresh": {
                  "summary": "Multipart refresh grant",
                  "value": {
                    "grant_type": "refresh_token",
                    "refresh_token": "synthetic-refresh-token-not-a-credential"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new bearer and refresh token pair.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebTokenResponse"
                },
                "examples": {
                  "password": {
                    "summary": "Password grant response",
                    "value": {
                      "id": 10,
                      "success": true,
                      "token_type": "Bearer",
                      "expires_in": 3600,
                      "access_token": "synthetic-access-token-not-a-credential",
                      "refresh_token": "synthetic-refresh-token-not-a-credential"
                    }
                  },
                  "refresh": {
                    "summary": "Refresh grant response",
                    "value": {
                      "id": 10,
                      "success": true,
                      "token_type": "Bearer",
                      "expires_in": 3600,
                      "access_token": "synthetic-refreshed-access-token-not-a-credential",
                      "refresh_token": "synthetic-refreshed-refresh-token-not-a-credential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The supplied password or refresh credentials were rejected, or a password grant omitted both email and username.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobilePublicTokenError"
                },
                "examples": {
                  "invalidCredentials": {
                    "summary": "Invalid synthetic credentials",
                    "value": {
                      "success": false,
                      "message": [
                        "Email or password is invalid."
                      ]
                    }
                  },
                  "missingIdentifier": {
                    "summary": "Password grant without an identifier",
                    "value": {
                      "success": false,
                      "message": {
                        "username": [
                          "username or email parameter is required!"
                        ],
                        "email": [
                          "username or email parameter is required!"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Laravel rejected the request because required fields or size limits failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "The grant type field is required.",
                  "errors": {
                    "grant_type": [
                      "The grant type field is required."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "The shared mobile-auth rate limit was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": [
                    "Too many authentication attempts. Please try again later."
                  ]
                }
              }
            }
          },
          "503": {
            "description": "The authentication service is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Authentication service is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mobile/auth/logout": {
      "post": {
        "operationId": "logoutMobileSession",
        "tags": [
          "Identity"
        ],
        "summary": "Sign out a mobile bearer session",
        "description": "Request validation runs before bearer lookup, so an invalid or oversized `refresh_token` returns 422 even without a bearer; the 401 cases below apply after request validation succeeds. A valid `Authorization: Bearer ...` mobile token is required. This route has only the shared `throttle:mobile-auth` middleware; bearer validation is controller-owned through `LegacyMobileAuth::userFromBearer`. Missing, invalid, stale, deleted-user, unactivated-user, and disabled-user bearer credentials all return the exact 401 envelope below. The optional `refresh_token` is a string with a maximum length of 4096 characters; explicit JSON null is accepted and treated as absent. An empty string is also treated as absent. A non-empty malformed or otherwise invalid signed refresh string that passes string and length validation is passed to `revokeToken`, whose false result is ignored; logout still succeeds. A valid supplied refresh token is recorded for revocation, as is the access token. The shared limiter selects its bucket from raw `grant_type` before controller validation: absent or any value other than exactly `refresh_token` uses the password/IP bucket, while raw `grant_type=refresh_token` uses the refresh/IP bucket even though `grant_type` is not a logout field. Revocation rows are recorded even when immediate denylist enforcement is disabled; the setting defaults to false, and a revoked token is rejected immediately only when `MAPILIO_MOBILE_AUTH_REVOCATION_ENABLED=true`. This endpoint has no endpoint-specific cache or ETag behavior and does not define a 304 response. Examples use synthetic token values only.",
        "security": [
          {
            "mobileBearer": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileLogoutRequest"
              },
              "example": {
                "refresh_token": "synthetic-refresh-token-not-a-credential"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bearer session was signed out. The access token is recorded for revocation, and a valid supplied refresh token is recorded too.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileLogoutResponse"
                },
                "example": {
                  "success": true,
                  "message": [
                    "Signed out."
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The controller could not resolve a valid active user from the bearer header. This includes a missing, invalid, stale, deleted-user, unactivated-user, or disabled-user bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileLogoutUnauthorizedError"
                },
                "example": {
                  "success": false,
                  "message": [
                    "Unauthorized"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The optional refresh_token failed request validation, such as being non-string or longer than 4096 characters. Validation runs before bearer lookup, so these requests return 422 even without a bearer. JSON null and an empty string are treated as absent; a non-empty syntactically malformed string that passes these rules is not a 422, is silently ignored by revocation, and logout returns 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "The refresh token field must not be greater than 4096 characters.",
                  "errors": {
                    "refresh_token": [
                      "The refresh token field must not be greater than 4096 characters."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "The shared mobile-auth rate limit was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAuthRateLimitError"
                },
                "example": {
                  "success": false,
                  "message": [
                    "Too many authentication attempts. Please try again later."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mobile/auth/social-token": {
      "post": {
        "operationId": "mobileSocialToken",
        "tags": [
          "Identity"
        ],
        "summary": "Exchange a provider token for Mapilio mobile tokens",
        "description": "The backend validates the provider token through the configured legacy migration bridge. Legacy client credentials are server-side configuration and are never accepted from the mobile request; only modern Mapilio access and refresh tokens are returned.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileSocialTokenRequest"
              },
              "example": {
                "provider": "google",
                "token": "provider-token-from-the-mobile-sdk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modern Mapilio token pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebTokenResponse"
                },
                "example": {
                  "id": 10,
                  "success": true,
                  "token_type": "Bearer",
                  "expires_in": 3600,
                  "access_token": "opaque-modern-access-token",
                  "refresh_token": "opaque-modern-refresh-token"
                }
              }
            }
          },
          "401": {
            "description": "Provider token is invalid or the mapped legacy account is inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Invalid social login credentials."
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "The given data was invalid.",
                  "errors": {
                    "provider": [
                      "The selected provider is invalid."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Social authentication rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Too many authentication attempts. Please try again later."
                }
              }
            }
          },
          "503": {
            "description": "Migration bridge is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAuthError"
                },
                "example": {
                  "success": false,
                  "message": "Social login is temporarily unavailable."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/imagery/leaderboard": {
      "get": {
        "operationId": "getImageryLeaderboard",
        "tags": ["Imagery reads"],
        "summary": "Read the public imagery leaderboard",
        "description": "Returns the exact legacy-compatible `{data: {leaderboard: [...]}}` envelope. The versioned route uses sequence-point scoring and does not return pagination metadata. Each filter is optional; `user_id` restricts results to one positive user id, and `start_at` and `finish_at` define an inclusive date window only when both values are non-empty. Invalid user ids retain the legacy 400 envelope; an invalid complete date window uses the framework's standard 422 validation response. If the date values are reversed, the backend silently normalizes the window into chronological order. Unfiltered requests with none of `user_id`, `start_at`, or `finish_at` use the short-lived public aggregate cache; any of those query keys bypasses it, including an empty value. Legacy and versioned aliases share the same score-versioned cache semantics.",
        "security": [],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional positive integer user id. Supplying the key, including an empty value, bypasses the public aggregate cache.",
            "schema": {"type": "integer", "format": "int64", "minimum": 1},
            "example": 10
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "description": "Optional date-window start. Applied with finish_at when both values are non-empty; the backend normalizes the window to day boundaries. Supplying the key bypasses the public aggregate cache.",
            "schema": {"type": "string"},
            "example": "2026-07-01"
          },
          {
            "name": "finish_at",
            "in": "query",
            "required": false,
            "description": "Optional date-window end. Applied with start_at when both values are non-empty; the backend normalizes the window to day boundaries. Supplying the key bypasses the public aggregate cache.",
            "schema": {"type": "string"},
            "example": "2026-07-31"
          }
        ],
        "responses": {
          "200": {
            "description": "The legacy-compatible leaderboard envelope. Numeric score and length values are decimal strings, not JSON numbers; roles may be null.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/LeaderboardResponse"},
                "examples": {
                  "default": {
                    "summary": "Synthetic leaderboard rows",
                    "value": {
                      "data": {
                        "leaderboard": [
                          {
                            "id": 20,
                            "username": "bob",
                            "display_name": "Bob",
                            "user_profile_photo": null,
                            "point": "350",
                            "total_length": "2.00",
                            "total_images": 1,
                            "roles": null
                          },
                          {
                            "id": 10,
                            "username": "alice",
                            "display_name": "Alice",
                            "user_profile_photo": "https://images.example/alice.jpg",
                            "point": "200",
                            "total_length": "9.67",
                            "total_images": 3,
                            "roles": "{user}"
                          }
                        ]
                      }
                    }
                  },
                  "filtered": {
                    "summary": "Synthetic filtered result",
                    "value": {
                      "data": {
                        "leaderboard": [
                          {
                            "id": 10,
                            "username": "alice",
                            "display_name": "Alice",
                            "user_profile_photo": "https://images.example/alice.jpg",
                            "point": "200",
                            "total_length": "9.67",
                            "total_images": 3,
                            "roles": "{user}"
                          }
                        ]
                      }
                    }
                  },
                  "empty": {
                    "summary": "Synthetic empty result",
                    "value": {"data": {"leaderboard": []}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "A non-empty user_id query value is not a positive integer.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/LeaderboardValidationError"},
                "example": {
                  "success": false,
                  "message": ["'user_id' must be an integer!"],
                  "error_code": 400
                }
              }
            }
          },
          "422": {
            "description": "A complete date window contains a value rejected by the backend date validator.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ValidationError"},
                "example": {
                  "message": "The start at field must be a valid date.",
                  "errors": {"start_at": ["The start at field must be a valid date."]}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/imagery/leaderboard-winner": {
      "get": {
        "operationId": "getImageryLeaderboardWinner",
        "tags": ["Imagery reads"],
        "summary": "Read the public imagery leaderboard winner status",
        "description": "Returns an unauthenticated, additive v1 alias of `GET /api/leaderboard-winner`. The supported query inputs are optional `user_id`, `start_at`, and `finish_at`. `user_id` is a positive int64 value forwarded on calculated responses and restricts the calculated leaderboard with the same public user filter as `GET /api/v1/imagery/leaderboard`; it has no effect on flags-only responses. The challenge window is inspected only when both date values are PHP-non-empty. If either date value is missing or empty, the exact response is `{data: {is_finished: false, is_calculated: false}}` and no leaderboard key is present. With both date values parseable, `is_finished` is true exactly when finish_at is earlier than the current server time. A matching non-deleted challenge with exact start and finish dates controls `is_calculated`; a missing table, row, or value defaults to false. When is_calculated is false, leaderboard is omitted. When it is true, leaderboard is the sequence-point scoring version 1 result, limited to at most 3 rows and using the same public `LeaderboardRow` schema, fields, and scalar types as `GET /api/v1/imagery/leaderboard`; a calculated empty result always contains `leaderboard: []`, while `is_finished` remains the boolean determined by finish_at. User-bearing row fields are existing public compatibility output; examples use synthetic values. No pagination metadata, server-side response cache, or ETag is part of this contract. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; production enforcement is not asserted by this contract.",
        "security": [],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Optional positive contributor id forwarded on calculated responses. It uses the same public user filter as `GET /api/v1/imagery/leaderboard` and has no effect on flags-only responses.",
            "schema": {"type": "integer", "format": "int64", "minimum": 1},
            "example": 10
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional challenge-window start string. The challenge window is inspected only when this and finish_at are both PHP-non-empty.",
            "schema": {"type": "string"},
            "example": "2026-07-01"
          },
          {
            "name": "finish_at",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional challenge-window finish string. The challenge window is inspected only when this and start_at are both PHP-non-empty.",
            "schema": {"type": "string"},
            "example": "2026-07-31"
          }
        ],
        "responses": {
          "200": {
            "description": "The status-only or calculated public leaderboard-winner envelope. The conditional response shape is selected by the boolean data.is_calculated value.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/LeaderboardWinnerResponse"},
                "examples": {
                  "flags-only": {
                    "summary": "Missing or partial date window",
                    "value": {"data": {"is_finished": false, "is_calculated": false}}
                  },
                  "flags-only-finished": {
                    "summary": "Synthetic finished but uncalculated challenge",
                    "value": {"data": {"is_finished": true, "is_calculated": false}}
                  },
                  "calculated-populated": {
                    "summary": "Synthetic calculated winner rows",
                    "value": {
                      "data": {
                        "is_finished": true,
                        "is_calculated": true,
                        "leaderboard": [
                          {
                            "id": 101,
                            "username": "synthetic_one",
                            "display_name": "Synthetic One",
                            "user_profile_photo": null,
                            "point": "350",
                            "total_length": "2.00",
                            "total_images": 4,
                            "roles": "{user}"
                          },
                          {
                            "id": 102,
                            "username": "synthetic_two",
                            "display_name": null,
                            "user_profile_photo": "https://images.example/synthetic-two.jpg",
                            "point": "200",
                            "total_length": "9.67",
                            "total_images": 3,
                            "roles": null
                          },
                          {
                            "id": 103,
                            "username": null,
                            "display_name": "Synthetic Three",
                            "user_profile_photo": null,
                            "point": "100",
                            "total_length": "0.50",
                            "total_images": 1,
                            "roles": "{mapper}"
                          }
                        ]
                      }
                    }
                  },
                  "calculated-empty": {
                    "summary": "Synthetic calculated empty result",
                    "value": {"data": {"is_finished": true, "is_calculated": true, "leaderboard": []}}
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Whether enforcement is enabled is deployment-configurable and is not asserted for production by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inventory/types": {
      "get": {
        "operationId": "getInventoryTypes",
        "tags": ["Inventory"],
        "summary": "Read public inventory type metadata",
        "description": "Returns the unauthenticated v1 alias of `GET /api/get-types` and preserves its legacy response contract. The populated response is exactly `{data: [...], pagination: {...}}`; an empty or out-of-range page is exactly `{data: null}` with no pagination member. Rows are emitted in this order: `id`, `sort_order`, `created_at`, `created_by_id`, `updated_at`, `updated_by_id`, `deleted_at`, `code`, `group_id`, `icon`, `name`. Selected rows are non-deleted, so `deleted_at` is always null. IDs and nullable numeric metadata are JSON integers, timestamp strings use six fractional digits and a trailing `Z`, and code, icon, and name preserve string-or-null output. Ordering is ascending by id, except `code` equal to `end-of-pedestrians` uses synthetic sort 464.5, after id 464 and before id 465. The scalar `page` query value is PHP-int-cast and minimum-clamped to 1; omitted page is 1. The nonempty string `locale` is used, while an empty or non-string locale falls back to `en`; omitted locale uses the deployment application locale. Data fetching uses a limit and offset of 100, while legacy pagination reports `per_page` 15, 15-based page/link math, row-count-based `to`, and the total active row count. Pagination URLs and `path` always use `/api/get-types`, even for this v1 route, and preserve unrecognized or nested query keys through `http_build_query`; such keys, including `options[parameters][group_id]`, `options[paginate]`, and `per_page`, do not filter rows or change the fetch size. This contract does not define malformed array or extreme scalar page behavior. There is no endpoint authentication, response cache, or ETag. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; production enforcement and its limits are not asserted by this contract.",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional scalar legacy page query value. It is PHP-int-cast and minimum-clamped to 1; omission uses 1. Malformed arrays and extreme values are outside this contract.",
            "schema": {"type": "string"},
            "example": "2"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional locale. A nonempty string is used; an empty or non-string value falls back to `en`, while omission uses the deployment application locale.",
            "schema": {"type": "string"},
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "The exact legacy-compatible populated or empty inventory type response.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/InventoryTypesResponse"},
                "examples": {
                  "populated": {
                    "summary": "Synthetic populated inventory type response",
                    "value": {
                      "data": [
                        {
                          "id": 464,
                          "sort_order": 12,
                          "created_at": "2026-07-15T10:00:00.000000Z",
                          "created_by_id": 10,
                          "updated_at": "2026-07-16T10:00:00.000000Z",
                          "updated_by_id": 11,
                          "deleted_at": null,
                          "code": "crossing",
                          "group_id": 7,
                          "icon": "crossing.svg",
                          "name": "Crossing"
                        },
                        {
                          "id": 500,
                          "sort_order": null,
                          "created_at": null,
                          "created_by_id": null,
                          "updated_at": null,
                          "updated_by_id": null,
                          "deleted_at": null,
                          "code": "end-of-pedestrians",
                          "group_id": null,
                          "icon": null,
                          "name": null
                        },
                        {
                          "id": 465,
                          "sort_order": 13,
                          "created_at": "2026-07-17T10:00:00.000000Z",
                          "created_by_id": 10,
                          "updated_at": "2026-07-18T10:00:00.000000Z",
                          "updated_by_id": 11,
                          "deleted_at": null,
                          "code": "pedestrian-crossing",
                          "group_id": 7,
                          "icon": "pedestrian-crossing.svg",
                          "name": "Pedestrian Crossing"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "first_page_url": "/api/get-types?page=1",
                        "from": 1,
                        "last_page": 1,
                        "last_page_url": "/api/get-types?page=1",
                        "links": [
                          {"url": null, "label": "&laquo; Previous", "active": false},
                          {"url": "/api/get-types?page=1", "label": "1", "active": true},
                          {"url": null, "label": "Next &raquo;", "active": false}
                        ],
                        "next_page_url": null,
                        "path": "/api/get-types",
                        "per_page": 15,
                        "prev_page_url": null,
                        "to": 3,
                        "total": 3
                      }
                    }
                  },
                  "empty": {
                    "summary": "Synthetic empty or out-of-range response",
                    "value": {"data": null}
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Enforcement and limits are deployment-configurable; the documented response wording is stable and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inventory/groups": {
      "get": {
        "operationId": "getInventoryGroups",
        "tags": ["Inventory"],
        "summary": "Read public inventory group metadata",
        "description": "Returns the unauthenticated v1 alias of `GET /api/get-groups` and preserves its legacy response contract. The populated response is exactly `{data: [...], pagination: {...}}`; an empty or out-of-range page is exactly `{data: null}` with no pagination member. Rows are emitted in this order: `id`, `sort_order`, `created_at`, `created_by_id`, `updated_at`, `updated_by_id`, `deleted_at`, `slug`, `name`. Active `default_types_groups` rows are selected where `deleted_at` is null, then left-joined to the locale translation; ordering is by `sort_order` only, so ties have unspecified order. IDs and nullable numeric metadata are JSON integers, timestamp strings use six fractional digits and a trailing `Z`, invalid stored timestamps become null, and slug and name preserve string-or-null output. The scalar `page` query value is PHP-int-cast and minimum-clamped to 1; omitted page is 1. The nonempty string `locale` is used exactly, while an empty or non-string locale falls back to `en`; omitted locale uses the deployment application locale. Data fetching uses a limit and offset of 100, while legacy pagination reports `per_page` 15, 15-based page/link math, row-count-based `to`, and the total active row count. Pagination URLs and `path` always use `/api/get-groups`, even for this v1 route, and re-encode parsed query keys with `http_build_query` after overwriting `page`; links remain bounded to numeric and ellipsis entries. This contract does not define malformed array or extreme scalar page behavior. There is no endpoint authentication, response cache, or ETag. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; enforcement and limits are deployment-configurable and production enforcement is not asserted by this contract.",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional scalar legacy page query value. It is PHP-int-cast and minimum-clamped to 1; omission uses 1. Malformed arrays and extreme values are outside this contract.",
            "schema": {"type": "string"},
            "example": "2"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional locale. A nonempty string is used exactly; an empty or non-string value falls back to `en`, while omission uses the deployment application locale.",
            "schema": {"type": "string"},
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "The exact legacy-compatible populated or empty inventory group response.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/GroupsResponse"},
                "examples": {
                  "populated": {
                    "summary": "Synthetic populated inventory group response",
                    "value": {
                      "data": [
                        {
                          "id": 101,
                          "sort_order": 1,
                          "created_at": "2026-07-15T10:00:00.000000Z",
                          "created_by_id": 20,
                          "updated_at": "2026-07-16T10:00:00.000000Z",
                          "updated_by_id": 21,
                          "deleted_at": null,
                          "slug": "traffic-signs",
                          "name": "Traffic Signs"
                        },
                        {
                          "id": 102,
                          "sort_order": 2,
                          "created_at": null,
                          "created_by_id": null,
                          "updated_at": null,
                          "updated_by_id": null,
                          "deleted_at": null,
                          "slug": "objects",
                          "name": null
                        },
                        {
                          "id": 103,
                          "sort_order": null,
                          "created_at": "2026-07-17T10:00:00.000000Z",
                          "created_by_id": 20,
                          "updated_at": "2026-07-18T10:00:00.000000Z",
                          "updated_by_id": null,
                          "deleted_at": null,
                          "slug": null,
                          "name": "Unslotted"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "first_page_url": "/api/get-groups?page=1",
                        "from": 1,
                        "last_page": 1,
                        "last_page_url": "/api/get-groups?page=1",
                        "links": [
                          {"url": null, "label": "&laquo; Previous", "active": false},
                          {"url": "/api/get-groups?page=1", "label": "1", "active": true},
                          {"url": null, "label": "Next &raquo;", "active": false}
                        ],
                        "next_page_url": null,
                        "path": "/api/get-groups",
                        "per_page": 15,
                        "prev_page_url": null,
                        "to": 3,
                        "total": 3
                      }
                    }
                  },
                  "empty": {
                    "summary": "Synthetic empty or out-of-range response",
                    "value": {"data": null}
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Enforcement and limits are deployment-configurable; the documented response wording is stable and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inventory/sprites": {
      "get": {
        "operationId": "getInventorySprites",
        "tags": ["Inventory"],
        "summary": "Read public inventory sprite metadata",
        "description": "Returns the unauthenticated v1 alias of `GET /api/get-sprites` with exact legacy JSON parity. There are no request parameters. The top-level JSON object is keyed dynamically by sprite code; each value contains exactly `x`, `y`, `height`, `width`, `visible`, and `pixelRatio`, and existing active callers index by sprite code and read `x`/`y`/`width`/`height`. Success requires checked-in/readable asset metadata that parses into this shape. Missing-file and malformed-JSON exceptional behavior is outside this contract. There is no endpoint authentication, endpoint-specific response cache, or ETag. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; enforcement and limits are deployment-configurable and production enforcement is not asserted by this contract.",
        "security": [],
        "responses": {
          "200": {
            "description": "The exact legacy-compatible dynamic sprite metadata map.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/InventorySpritesResponse"},
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic sprite metadata map",
                    "value": {
                      "sprite-synthetic-primary": {
                        "x": 3,
                        "y": 7,
                        "height": 16,
                        "width": 12,
                        "visible": false,
                        "pixelRatio": 2
                      },
                      "sprite-synthetic-secondary": {
                        "x": 0,
                        "y": 24,
                        "height": 9,
                        "width": 11,
                        "visible": true,
                        "pixelRatio": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Enforcement and limits are deployment-configurable; the documented response wording is stable and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inventory/sprites-2x": {
      "get": {
        "operationId": "getInventorySprites2x",
        "tags": ["Inventory"],
        "summary": "Read public retina inventory sprite metadata",
        "description": "Returns the unauthenticated v1 alias of `GET /api/get-sprites2x` with exact legacy JSON parity. There are no request parameters. The top-level JSON object is keyed dynamically by sprite code; each value contains exactly `x`, `y`, `height`, `width`, `visible`, and `pixelRatio`, and existing active callers index by sprite code and read `x`/`y`/`width`/`height`. Success requires checked-in/readable `public/sprites/sprites@2x.json` asset metadata that parses into this shape. Missing-file and malformed-JSON exceptional behavior is outside this contract. There is no endpoint authentication, endpoint-specific response cache, or ETag. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; enforcement and limits are deployment-configurable and production enforcement is not asserted by this contract.",
        "security": [],
        "responses": {
          "200": {
            "description": "The exact legacy-compatible dynamic retina sprite metadata map.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/InventorySpritesResponse"},
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic retina sprite metadata map",
                    "value": {
                      "sprite-synthetic-retina-primary": {
                        "x": 5,
                        "y": 9,
                        "height": 32,
                        "width": 24,
                        "visible": true,
                        "pixelRatio": 2
                      },
                      "sprite-synthetic-retina-secondary": {
                        "x": 1,
                        "y": 48,
                        "height": 17,
                        "width": 19,
                        "visible": false,
                        "pixelRatio": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Enforcement and limits are deployment-configurable; the documented response wording is stable and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/marketplaces": {
      "get": {
        "operationId": "getProjectMarketplaces",
        "tags": ["Public content"],
        "summary": "Read public marketplace projects",
        "description": "Returns the unauthenticated v1 alias of `GET /api/get-marketplaces` without changing the legacy response contract. The response is exactly `{data: {geojson: string}}`; `data.geojson` is a JSON-encoded string containing a GeoJSON FeatureCollection, not an object. Optional `lat` and `lon` query values are inspected with the legacy filled rules: coordinate validation and distance sorting activate only when both values are filled. A missing value, empty string, or exact query string `\"0\"` on either coordinate disables validation and sorting and emits `distance_km` as the string \"0\". Other filled query strings enter the active branch and must be numeric; active latitude must be in [-90, 90] and longitude in [-180, 180]. Numeric-distance rows are ordered ascending when available, but a missing-distance value and its placement are database-dependent: PostgreSQL can emit null when geometry is missing, while the portable path can retain the string \"0\" when geometry or its centroid is missing. The decoded inner object has `type: \"FeatureCollection\"` and `features` as an array or null when empty. Feature and property key order is part of the legacy JSON output; default PostgreSQL row ordering is not guaranteed. Text fields preserve nullable runtime output, `id` is an integer, and geometry is an object or null. No pagination metadata, response cache, or ETag is part of this contract. The optional global API limiter may return the documented 429 response when deployment-configurable enforcement is enabled; production enforcement is not asserted by this contract.",
        "security": [],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional legacy latitude query string. It participates in validation and distance sorting only when both lat and lon are legacy-filled; a missing value, empty string, or exact string \"0\" disables the coordinate branch.",
            "schema": {"type": "string"},
            "example": "41"
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "allowEmptyValue": true,
            "description": "Optional legacy longitude query string. It participates in validation and distance sorting only when both lon and lat are legacy-filled; a missing value, empty string, or exact string \"0\" disables the coordinate branch.",
            "schema": {"type": "string"},
            "example": "29"
          }
        ],
        "responses": {
          "200": {
            "description": "The exact legacy-compatible marketplace envelope. The geojson member is a JSON-encoded FeatureCollection string.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MarketplaceResponse"},
                "examples": {
                  "default": {
                    "summary": "Synthetic default response",
                    "value": {
                      "data": {
                        "geojson": "{\"type\":\"FeatureCollection\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"marketplace_name\":\"Synthetic Market\",\"marketplace_description\":\"Synthetic description\",\"id\":701,\"project_key\":\"synthetic-project\",\"organization_key\":\"synthetic-org\",\"created_at\":\"2026-07-01T10:11:12\",\"owner\":\"Synthetic Owner\",\"project_camera_type\":\"phone\",\"distance_km\":\"0\"},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[29,41],[30,41],[30,42],[29,42],[29,41]]]}}]}"
                      }
                    }
                  },
                  "coordinates": {
                    "summary": "Synthetic coordinate-sorted response",
                    "value": {
                      "data": {
                        "geojson": "{\"type\":\"FeatureCollection\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"marketplace_name\":\"Nearest Synthetic Market\",\"marketplace_description\":null,\"id\":702,\"project_key\":\"synthetic-near\",\"organization_key\":\"synthetic-org\",\"created_at\":null,\"owner\":null,\"project_camera_type\":null,\"distance_km\":12.5},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[29,41],[29.1,41],[29.1,41.1],[29,41.1],[29,41]]]}},{\"type\":\"Feature\",\"properties\":{\"marketplace_name\":null,\"marketplace_description\":\"Synthetic missing geometry\",\"id\":703,\"project_key\":null,\"organization_key\":null,\"created_at\":\"2026-07-02T11:12:13\",\"owner\":\"Synthetic Owner\",\"project_camera_type\":\"dashcam\",\"distance_km\":null},\"geometry\":null}]}"
                      }
                    }
                  },
                  "empty": {
                    "summary": "Synthetic empty response",
                    "value": {
                      "data": {
                        "geojson": "{\"type\":\"FeatureCollection\",\"features\":null}"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Both coordinates were legacy-filled, but a coordinate was non-numeric or outside the runtime latitude/longitude ranges.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/MarketplaceCoordinateError"},
                "examples": {
                  "non-numeric": {
                    "summary": "Synthetic non-numeric coordinate error",
                    "value": {
                      "success": false,
                      "message": ["'lat' and 'lon' must be numeric coordinates."],
                      "error_code": 400
                    }
                  },
                  "out-of-range": {
                    "summary": "Synthetic out-of-range coordinate error",
                    "value": {
                      "success": false,
                      "message": ["'lat' and 'lon' must be valid coordinates."],
                      "error_code": 400
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Enforcement and limits are deployment-configurable; the documented response body wording is stable in the current middleware and production enforcement is not asserted by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/leaderboard": {
      "get": {
        "operationId": "getOrganizationLeaderboard",
        "tags": ["Public content"],
        "summary": "Read the public organization leaderboard",
        "description": "Returns an unauthenticated, additive versioned alias of `GET /api/leaderboard-organization`. This operation consumes no query or path parameters. Unrelated query keys, including date, limit, pagination, and `score_version`-looking keys, are ignored; they do not alter the aggregate or bypass the shared cache. v1 uses sequence-point scoring version 1 and does not expose `score_version`. Legacy and versioned aliases share one score-versioned, configurable short-lived aggregate cache; disabling the cache bypasses existing cached values. The response is exactly `{data: {leaderboard: [...]}}`; an empty result is `{data: {leaderboard: []}}` and no pagination metadata is returned. Rows are ordered by point descending only; ties are unspecified. Row fields are emitted in this order: `organization_key`, `organization_name`, `point`, `total_length`, `total_images`. `organization_key` is a string, organization_name preserves string or null mapping, point and total_length are decimal strings when present, and total_images is an integer.",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The exact public organization leaderboard envelope. Point and total length values are decimal strings when present; nullable mapped values remain null.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/OrganizationLeaderboardResponse"},
                "examples": {
                  "populated": {
                    "summary": "Synthetic organization leaderboard rows",
                    "value": {
                      "data": {
                        "leaderboard": [
                          {
                            "organization_key": "org-synthetic-a",
                            "organization_name": "Synthetic Mapping Collective",
                            "point": "200",
                            "total_length": "5.33",
                            "total_images": 3
                          },
                          {
                            "organization_key": "org-synthetic-b",
                            "organization_name": null,
                            "point": null,
                            "total_length": null,
                            "total_images": 0
                          }
                        ]
                      }
                    }
                  },
                  "empty": {
                    "summary": "Synthetic empty result",
                    "value": {"data": {"leaderboard": []}}
                  }
                }
              }
            }
          },
          "429": {
            "description": "The optional global API limiter rejected the request when enforcement is enabled. Whether enforcement is enabled is deployment-configurable and is not asserted for production by this contract.",
            "headers": {
              "Retry-After": {
                "description": "Decimal number of seconds until another request may be attempted.",
                "schema": {"type": "string", "pattern": "^[0-9]+$"}
              },
              "X-RateLimit-Limit": {
                "description": "Configured maximum requests in the current limiter window, serialized as a decimal header value.",
                "schema": {"type": "string", "pattern": "^[1-9][0-9]*$"}
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current limiter window, serialized as a decimal header value.",
                "schema": {"const": "0"}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicRateLimitError"},
                "example": {
                  "success": false,
                  "message": ["Too many requests."],
                  "error_code": 429
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/imagery/user-uploads": {
      "get": {
        "operationId": "getUserUploads",
        "tags": ["Imagery reads"],
        "summary": "Read a contributor's uploaded imagery groups",
        "description": "Returns the legacy mobile user-uploads feed through its versioned alias. Maintained mobile clients currently use `/api/user-uploads-v2`; this alias invokes the same controller and preserves its nested query names, row fields, nullability, and Laravel-style pagination object. The controller reads numeric `options[parameters][user_id]` values and integer-casts them, using the result when it is positive. It integer-casts scalar number/string values for `options[limit]` and `page`; an omitted limit defaults to 15, limit is then clamped to 1..1000, and page defaults to and is clamped to at least 1. Pagination link values intentionally retain the legacy `/api/user-uploads-v2` path, even when the request uses this versioned alias. Empty and out-of-range pages return `data: null` rather than an empty array.",
        "security": [],
        "parameters": [
          {
            "name": "options[parameters][user_id]",
            "in": "query",
            "required": true,
            "description": "Numeric contributor id whose PHP integer cast must be positive. Decimal numeric forms are accepted and truncated by that integer cast before lookup.",
            "schema": {"type": "number", "minimum": 1},
            "example": 10
          },
          {
            "name": "options[limit]",
            "in": "query",
            "required": false,
            "description": "Optional scalar number or string. The controller PHP integer-casts the raw value, then clamps the result to the inclusive range 1..1000; omission uses 15. Non-numeric and zero values therefore normalize to 1.",
            "schema": {"type": ["number", "string"], "default": 15},
            "example": 2
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Optional scalar number or string. The controller PHP integer-casts the raw value, then clamps the result to at least 1; omission uses 1. Non-numeric and zero values therefore normalize to 1.",
            "schema": {"type": ["number", "string"], "default": 1},
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The grouped upload feed and the complete legacy Laravel-style pagination object. `data` is null when no rows match or the requested page is out of range.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/UserUploadsResponse"},
                "examples": {
                  "pageWithRows": {
                    "summary": "Synthetic populated page",
                    "value": {
                      "data": [
                        {
                          "total": 3,
                          "uploaded_hash": "synthetic-upload-hash-a",
                          "capture_time": "2026-07-15 10:00:00",
                          "cover_photo": "synthetic-a.jpg",
                          "group_key": "synthetic-group-a",
                          "start_address": "Synthetic Main Street",
                          "last_status": "completed"
[...]
